:root{
    --primary-color: #6200ea;
    --primary-accent: #9d46ff;
}

body{
    background:lightseagreen;
    width: 100%;
}

h1{
    text-align: center;
    color: crimson;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
}

#initial-price{
    align-self: center;
    display: "block";
    text-align: center;
    max-width: 256px;
    width: 100%;
    height: 40px;
    margin: 16px;
    border-radius: 2rem;
}

#current-price{
    align-self: center;
    display: "block";
    text-align: center;
    max-width: 256px;
    width: 100%;
    height: 40px;
    margin: 16px;
    border-radius: 2rem;
}

#quantity-of-stock{
    align-self: center;
    display: "block";
    text-align: center;
    max-width: 256px;
    width: 100%;
    height: 40px;
    margin: 16px;
    border-radius: 2rem;
}

#show-btn{
    display: "block";
    text-align: center;
    align-self: center;
    max-width: 256px;
    width: 100%;
    height: 40px;
    color: antiquewhite ;
    border-radius: 2rem;
    background-color: #6200ea;
}

#show-result{
    display: "block";
    height: 40px;
    text-align: center;
    font-size: 32px;
    margin: 16px;
}